.Container {
    display: flex;
    border-width: 1px;
    border-radius: 2px;
    border-color: #CCC;
    flex-wrap: nowrap;
    background-color: #FFF;
    overflow: hidden;
    flex-direction: column;
    max-width: 50%;
    border-style: solid;
    position: relative;
    box-shadow: -2px 2px 1.5px 0.1px #000;
}


.ButtonOverlay {
    display: block;
    background: none;
    height: 100%;
    width: 100%;
    border: none
}

.CardItemImagePlace {
    background-color: #ccc;
    flex: 1 1 0%;
    min-height: 359px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Button {
    padding: 16px;
    padding-top: 24px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    border: none;
}


.TitleStyle {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 24px;
    color: #FFF;
    padding-bottom: 4px;
    text-align: left;
    margin-bottom: 4px;
    margin-top: 4px;
}


.SubtitleStyle {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    color: #FFF;
    opacity: 0.5;
    line-height: 16px;
    text-align: left;
    width: 75%;
    margin-bottom: 10px;
    margin-top: 6px;
    margin-right: 20px;
}
.Chip{
    display: table-cell !important;
}