.Stack {
    overflow-y: scroll;
    top: 85px;
    left: 1px;
    width: 100%;
    height: calc(100% - 85px - 50px);
    position: absolute;
    background-color: #E6E6E6;
    flex-direction: column;
    display: flex;
}

.Group {
    top: 96px;
    left: 0px;
    width: 374px;
    height: 1409px;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    display: flex;

}

.LoremIpsum1 {
    font-family: Alegreya, sans-serif;
    top: 0px;
    left: 21px;
    position: absolute;
    font-style: normal;
    font-weight: 300;
    color: #121212;
    line-height: 30px;
    right: 20px;
    font-size: 35px;
    text-align: center;
}

.GroupStack {
    height: auto;
    min-height: 100%;
    margin-top: 0;
    margin-bottom: 55px;
    flex: 0 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}


